<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  <%= image_tag "profile.jpg",
    width: 300, alt: "profile image" %>
  </div>
    <div class="col-md-8">
      <p>After working in various positions such as IT support and as an English Instructor,
      I decided I wanted to start in a career as a web developer.</p>
      <p>To achieve this goal I joined a part time full-stack bootcamp at Le Wagon in Tokyo.
        At the bootcamp I learnt how to make full production web apps using Ruby on Rails,
      JavaScript, HTML, CSS and PostgreSQL</p>
      <p>However along with the programming languages,
      Le Wagon also taught me how to program as part of a team using technology such as Git.</p>
      <p>Now the bootcamp is complete I am ready to start my career as a full-stack developer.</p>
  </div>
</div>
