<h1>Contact</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Current address</h3>
    <p>Setagaya Ku, Tokyo, Japan</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "08031783333" %></p>
    <h3>Email</h3>
    <p>swmoore84@gmail.com</p>
    <p><a class="btn btn-lg btn-secondary" href="mailto:swmoore84@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.9255734732524!2d139.65826611500017!3d35.60490244176207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f502d3422ec3%3A0x356787b087d0e6e1!2s8-ch%C5%8Dme-33-4%20Okusawa%2C%20Setagaya%20City%2C%20T%C5%8Dky%C5%8D-to%20158-0083!5e0!3m2!1sen!2sjp!4v1586139370536!5m2!1sen!2sjp" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
